name: Publish site workflow

on: [push, workflow_dispatch]
permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Build tailwindcss
        run: |
          npm install tailwindcss @tailwindcss/cli
          npx tailwindcss -i ./src/input.css -o ./dist/tailwind.css

      - name: layout site
        run: |
          mkdir ./public && tree
          cp -r ./src/* ./public/ && tree
          cp -r ./dist/ ./public/dist && tree
          cp -r ./res/ public/res && tree
          rm ./public/input.css && tree

      - name: remove node modules
        run: |
          rm -rf ./node_modules


      - name: minify site
        run: |
          sudo apt update
          sudo apt install -y minify
          minify --recursive --verbose --output ./ ./ && tree

      - name: deploy site
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
